@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
}
.hoverable-card .btn {
  opacity: 0; /* Initially hide the buttons */
  transition: opacity 0.3s ease-in-out; /* Add a transition effect */
}

.hoverable-card:hover .btn {
  opacity: 1; /* Show the buttons on hover */
}

.hoverable-card .button-container {
  opacity: 0; /* Initially hide the buttons */
  transition: opacity 0.3s ease-in-out; /* Add a transition effect */
}

.hoverable-card:hover .button-container {
  opacity: 1; /* Show the buttons on hover */
}

.hoverable-card {
  background-color: transparent;
  color:antiquewhite
}
